.themeinput {
  display: inline-flex;
  box-sizing: border-box;
  flex-direction: row;
  border-style: solid;
  border-color: lightgreen;
  border-radius: 10%;
  padding: 0.5%;
}

.inputbox {
  flex-basis: 0;
  flex-grow: 3;
}

.button {
  flex-basis: 0;
  flex-grow: 1;
}
